<app-navbar></app-navbar>
<h3>Magazines:</h3>

<ol >
	<li *ngFor="let magazine of magazines">
		[<strong>{{magazine.paymentType}}</strong>] {{magazine.name}} <button *ngIf="magazine.paymentType=='PAID_ACCESS'" class="btn btn-basic btn-xs" (click)=subscribe(magazine)>Subscribe</button>
		<br>
		Issues:
			<ol>
				<li *ngFor="let issue of magazine.issues">
					<em>{{issue.date}}</em>
					<!--
					<a *ngIf="magazine.paymentType=='OPEN_ACCESS'" [routerLink]="['/issue', issue.id]">Download</a>-->
					<span *ngIf="magazine.paymentType=='PAID_ACCESS'">${{issue.price}}</span>
					<button *ngIf="magazine.paymentType=='PAID_ACCESS'" class="btn btn-primary btn-sm" (click)="buyIssue(magazine, issue)">Buy Issue</button>
					
					<br>
					<br>
					Single Articles from this Issue:
					<ol>
						<li *ngFor="let article of issue.articles">
							<em >{{article.name}} by {{article.author.firstName}} {{article.author.lastName}}</em>
							<a *ngIf="magazine.paymentType=='OPEN_ACCESS' && article.price=='0'" [routerLink]="['/article', article.id]">Download</a>

							<button *ngIf="magazine.paymentType=='OPEN_ACCESS'
							 && article.price==null 
							 && article.author.username == username"
							 class="btn btn-success btn-xs" (click)="pay(magazine, article)">Pay to Publish
							</button>

							<span *ngIf="magazine.paymentType=='PAID_ACCESS'">${{article.price}}</span>
							<button *ngIf="magazine.paymentType=='PAID_ACCESS'" class="btn btn-default btn-xs" (click)="buyArticle(magazine, article)">Buy Article</button>
							

						</li>
					</ol>
				</li>
			</ol>
		<hr>
		<br>
	</li>

</ol>